<p id="notice"><%= notice %></p>

<p>
  <strong>Revisionpagos:</strong>
  <%= @step_six.revisionPagos %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @step_six.observaciones %>
</p>

<p>
  <strong>Pedido:</strong>
  <%= @step_six.pedido %>
</p>

<p>
  <strong>User:</strong>
  <%= @step_six.user_id %>
</p>

<p>
  <strong>Completado:</strong>
  <%= @step_six.completado %>
</p>

<%= link_to 'Edit', edit_step_six_path(@step_six) %> |
<%= link_to 'Back', step_sixes_path %>
