<p id="notice"><%= notice %></p>

<h1>Flows</h1>

<table>
  <thead>
    <tr>
      <th>Current hash</th>
      <th>Data</th>
      <th>Prev hash</th>
      <th>Time</th>
      <th>Index</th>
      <th>Nonce</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flows.each do |flow| %>
      <tr>
        <td><%= flow.current_hash %></td>
        <td><%= flow.data %></td>
        <td><%= flow.prev_hash %></td>
        <td><%= flow.time %></td>
        <td><%= flow.index %></td>
        <td><%= flow.nonce %></td>
        <td><%= link_to 'Show', flow %></td>
        <td><%= link_to 'Edit', edit_flow_path(flow) %></td>
        <td><%= link_to 'Destroy', flow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flow', new_flow_path %>
