<p id="notice"><%= notice %></p>

<p>
  <strong>Current hash:</strong>
  <%= @flow.current_hash %>
</p>

<p>
  <strong>Data:</strong>
  <%= @flow.data %>
</p>

<p>
  <strong>Prev hash:</strong>
  <%= @flow.prev_hash %>
</p>

<p>
  <strong>Time:</strong>
  <%= @flow.time %>
</p>

<p>
  <strong>Index:</strong>
  <%= @flow.index %>
</p>

<p>
  <strong>Nonce:</strong>
  <%= @flow.nonce %>
</p>

<%= link_to 'Edit', edit_flow_path(@flow) %> |
<%= link_to 'Back', flows_path %>
