<p id="notice"><%= notice %></p>

<p>
  <strong>Accesorio:</strong>
  <%= @step_four.accesorio %>
</p>

<p>
  <strong>Inicio:</strong>
  <%= @step_four.inicio %>
</p>

<p>
  <strong>Fin:</strong>
  <%= @step_four.fin %>
</p>

<p>
  <strong>Pedido:</strong>
  <%= @step_four.pedido %>
</p>

<p>
  <strong>User:</strong>
  <%= @step_four.user_id %>
</p>

<p>
  <strong>Completado:</strong>
  <%= @step_four.completado %>
</p>

<%= link_to 'Edit', edit_step_four_path(@step_four) %> |
<%= link_to 'Back', step_fours_path %>
