<p id="notice"><%= notice %></p>

<p>
  <strong>Numerofactura:</strong>
  <%= @step_three.numeroFactura %>
</p>

<p>
  <strong>Vehiculo:</strong>
  <%= @step_three.vehiculo %>
</p>

<p>
  <strong>Nombrevendedor:</strong>
  <%= @step_three.nombreVendedor %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @step_three.cliente %>
</p>

<p>
  <strong>Notascargo:</strong>
  <%= @step_three.notasCargo %>
</p>

<p>
  <strong>Notascredito:</strong>
  <%= @step_three.notasCredito %>
</p>

<p>
  <strong>Pedido:</strong>
  <%= @step_three.pedido %>
</p>

<p>
  <strong>User:</strong>
  <%= @step_three.user_id %>
</p>

<p>
  <strong>Completado:</strong>
  <%= @step_three.completado %>
</p>

<%= link_to 'Edit', edit_step_three_path(@step_three) %> |
<%= link_to 'Back', step_threes_path %>
