<p id="notice"><%= notice %></p>

<p>
  <strong>Confirmacion:</strong>
  <%= @step_fife.confirmacion %>
</p>

<p>
  <strong>Documentacion:</strong>
  <%= @step_fife.documentacion %>
</p>

<p>
  <strong>Placas:</strong>
  <%= @step_fife.placas %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @step_fife.observaciones %>
</p>

<p>
  <strong>Gestorconfirmacion:</strong>
  <%= @step_fife.gestorConfirmacion %>
</p>

<p>
  <strong>Nombregestor:</strong>
  <%= @step_fife.nombreGestor %>
</p>

<p>
  <strong>Fechaentregagestor:</strong>
  <%= @step_fife.fechaEntregaGestor %>
</p>

<p>
  <strong>Pedido:</strong>
  <%= @step_fife.pedido %>
</p>

<p>
  <strong>User:</strong>
  <%= @step_fife.user_id %>
</p>

<p>
  <strong>Completado:</strong>
  <%= @step_fife.completado %>
</p>

<%= link_to 'Edit', edit_step_fife_path(@step_fife) %> |
<%= link_to 'Back', step_fives_path %>
