<p id="notice"><%= notice %></p>

<h1>Step Twos</h1>

<table>
  <thead>
    <tr>
      <th>Desembolso</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Observaciones</th>
      <th>Pedido</th>
      <th>User</th>
      <th>Completado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @step_twos.each do |step_two| %>
      <tr>
        <td><%= step_two.desembolso %></td>
        <td><%= step_two.fecha %></td>
        <td><%= step_two.hora %></td>
        <td><%= step_two.observaciones %></td>
        <td><%= step_two.pedido %></td>
        <td><%= step_two.user_id %></td>
        <td><%= step_two.completado %></td>
        <td><%= link_to 'Show', step_two %></td>
        <td><%= link_to 'Edit', edit_step_two_path(step_two) %></td>
        <td><%= link_to 'Destroy', step_two, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Step Two', new_step_two_path %>
